<form method="post" action="{{ path('sub_chapters_delete', {'id': sub_chapter.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer ce sous chapitre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sub_chapter.id) }}">
    <button class="btn">Supprimer</button>
</form>
