{% extends 'base.html.twig' %}

{% block title %}Edit SubChapters{% endblock %}

{% block body %}
    <h1>Edit SubChapters</h1>

    {{ include('sub_chapters/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sub_chapters_index') }}">back to list</a>

    {{ include('sub_chapters/_delete_form.html.twig') }}
{% endblock %}
