{% extends 'base.html.twig' %}

{% block title %}Création d'un sous chapitre{% endblock %}

{% block body %}
<div class="container">
    <h1>Création d'un sous chapitre</h1>

    {{ include('sub_chapters/_form.html.twig') }}

    <a href="{{ path('sub_chapters_index') }}">Retour à la liste des sous chapitres</a>
    </div>
{% endblock %}
