{% extends 'base.html.twig' %}

{% block title %}New SubChapters{% endblock %}

{% block body %}
    <h1>Create new SubChapters</h1>

    {{ include('sub_chapters/_form.html.twig') }}

    <a href="{{ path('sub_chapters_index') }}">back to list</a>
{% endblock %}
