{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}


	{% for message in app.flashes('success') %}
		<div class="alert alert-succes" role="alert">{{message }}</div>
	{% endfor %}


	<div class="container">
    <section class="themeSection">
		{% for theme in themes %}
        <a class="linkTheme" href="{{ path('themes_show', {'slug': theme.slug}) }}">
			<div class="card" style="width: 300px;">
				<img src="{{asset('uploads/pictures/' ~ theme.pictureTheme) }}" class="card-img-top" >
				<div class="card-body">
					<h5 class="card-title">{{theme.titleTheme}}</h5>
				</div>
			</div>
        </a>
		{% endfor %}


	</div>
    </section>


{% endblock %}
