/******************Couleurs*******************/

$bleuArinfo:rgb(68, 85, 134);

/*******************Header******************/

nav {
    background-color: $bleuArinfo;
    a.nav-link {
        color: #fff;
    }
}


/*******************Main******************/

.themeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.linkTheme {
    text-decoration: none;
    .card {
        margin: 25px;
        img {
            height: 200px;
        }
        h5 {
            text-align: center;
            color: $bleuArinfo;
            text-decoration: none;
        }
    }
}


/***********************Chapters********************/

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}