<form method="post" action="{{ path('exercices_delete', {'id': exercice.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cet exercice?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exercice.id) }}">
    <button class="btn">Supprimer</button>
</form>
